body {
    font-family: Playfair Display;
    background-image: linear-gradient(to bottom, #3498db, #e74c3c);
    color: white;
    margin: 20%;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

input,
button {
    margin: 5px;
    padding: 8px;
    width: 200px;
}

button {
    background-color: #ec2d0b;
    color: white;
    border: solid black 2px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
}